@using Microsoft.Ajax.Utilities
@model Vidly.Models.Movie
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Movie</h2>
<h1>@Html.ActionLink(Model.Name, "Detail", "Movies")</h1>

<ul>
    <li>Genre: @Model.Genre.Name</li>
</ul>